/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  background: white;
  font-family: "Roboto", sans-serif !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* --------------------------Particles style */
.parti {
  height: 650px !important;
  /* width: 100vw !important; */
  /* width: 700px !important; */
  /* position: relative; */
}
.btn-1 {
  position: absolute;
  top: 420px;
  /* position: absolute;
  top: 420px; */
  color: white;
  /* font-family: cursive; */
  border: 1px solid white;
  text-decoration: none;
}

.heading-1 {
  /* font-family: "cursive"; */
  position: absolute;
  top: 255px;
  font-size: 46px;
  color: wheat;
}
.heading-2 {
  background-color: "rgb(255 0 0)";
}

/* @media screen and (min-width: 1440px) {
  .heading-1 {
    font-size: 46px !important;
    font-family: "cursive";
  position: absolute;
  top: 255px ;
  font-size: 46px;
  color: wheat;
  }
  .btn-1{
    position: absolute;
    top:420px !important;
  color: white;
  font-family: cursive;
  border: 1px solid white;
  text-decoration: none;
  }
} */
/* @media screen and (min-width: 1024px) {
  .heading-1 {
    font-size: 46px !important;
    font-family: "cursive";
  position: absolute;
  top: 255px ;
  font-size: 46px;
  color: wheat;
  }
  .btn-1{
    position: absolute;
    top:420px !important;
  color: white;
  font-family: cursive;
  border: 1px solid white;
  text-decoration: none;
  }
} */
/* @media screen and (min-width: 425px) {
  .heading-1 {
    font-size: 35px;
  }
  .btn-1{
    top: 380px;
  }
}
@media screen and (min-width: 375px) {
  .heading-1 {
    font-size: 29px;
  }
  .btn-1{
    top: 360px;
  }
}
@media screen and (min-width: 320px) {
  .heading-1 {
    font-size: 25px;
  }
  .btn-1{
    top: 350px;
  }
} */
@media (max-width: 500px) and (min-width: 375px) {
  .heading-1 {
    font-size: 25px;
  }
  .btn-1 {
    top: 350px;
  }
}
@media screen and (max-width: 375px) {
  .heading-1 {
    font-size: 25px;
  }
  .btn-1 {
    top: 350px;
  }
}

/* ------------------------------Portfolio Styles ----------- */
.bgImagePortfolio {
  position: relative;
  /* background-image: url(https://images.unsplash.com/photo-1563118490-a6fbac646b50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGNvbXB1dGVyfGVufDB8MHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=500&q=60); */
  background-color: black;
  /* height: 550px; */
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
}
.portfolio_text {
  position: absolute;
  top: 30%;
  width: -webkit-fill-available;
}
.portfolio_text h3 {
  color: white;
  font-size: 75px;
}
.project_image:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: transform;
}

@media (min-width: 144px) and (max-width: 320px) {
  .text_port {
    font-size: 30px !important;
    text-align: center;
  }
  .img_port {
    width: -webkit-fill-available !important;
    margin-top: 10px;
  }
  .portfolio_text {
    margin-top: 41px !important;
  }
}

@media (min-width: 321px) and (max-width: 420px) {
  .text_port {
    font-size: 30px !important;
    text-align: center;
  }
  .img_port {
    width: -webkit-fill-available !important;
    margin-top: 10px;
  }
  .portfolio_text {
    margin-top: 10px !important;
  }
}

/* @media screen and (width: 375px) {
  .text_port{
    font-size: 30px !important;
    text-align: center;
  }
  .img_port{
    width: -webkit-fill-available !important;
    margin-top:10px
  }
  .portfolio_text{
    margin-top: 41px !important
  }
} */
@media (min-width: 425px) and (max-width: 500px) {
  .text_port {
    font-size: 35px !important;
    text-align: center;
    margin-top: -50px;
  }
  .img_port {
    width: -webkit-fill-available !important;
    margin-top: 10px;
  }
}
@media (min-width: 520px) and (max-width: 900px) {
  .text_port {
    font-size: 45px !important;
  }
  .img_port {
    width: -webkit-fill-available !important;
  }
  .portfolio_text {
    top: 16%;
  }
  .bgImagePortfolio {
    height: 500px;
  }
}

.hero {
  min-height:       110vh;
  background: url(assets/modern-equipped-computer-lab1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  mix-blend-mode: Luminosity;
}

.free-consultant-btn {
  background: #00a6ff;
  font-size: 16px;
  color: var(--color-white);
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.counter-bg {
  /* min-height: 120vh; */
  background: url('../src/assets/count-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}

.counter-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: Luminosity;
  z-index: -1;
}

.img-rounded {
  border-radius: 15px;
}

.bg-skyblue {
  background: #ebf8ff;
}

.section-margin{
  margin: 80px 0;
}

.section-padding{
  padding: 50px 0;
}

/* .client-section{
  background: url('assets/ok.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.client-section::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  mix-blend-mode: Luminosity;
} */
